jjonathan/primeiro_desafio/node_modules
jjonathan/primeiro_desafio/js
jjonathan/primeiro_desafio/css
jjonathan/primeiro_desafio/img
jjonathan/primeiro_desafio/svg
jjonathan/segundo_desafio/node_modules
jjonathan/segundo_desafio/js
jjonathan/segundo_desafio/css
!.ignore