.page{
	.cover{
		height: 250px;
		padding: 40px 200px;

		div.cover-list{
			float: left;

			img{				
				height: 245px;
			}
		}

		div.cover-fix{
			float: right;
			border: 3px solid $pink;
			height: 242px;
			width: 217px;

			img{
				height: 242px;
				width: 217px;
			}
		}
	}
}