.page{
	.cover{
		height: 250px;
		padding: 40px $side-blank;

		div.cover-list{
			float: left;
			width: 74%;

			img{
				height: 245px;
				width: 100%;
			}
		}

		div.cover-fix{
			float: right;
			border: 3px solid $pink;
			height: 242px;
			width: 23%;
			border-radius: 5px 5px 0px 0px;

			img{
				height: 242px;
				width: 100%;
			}
		}
	}
}