.page{
	div.footer{
		padding-top: 80px;

		div.primary-footer{
			background-color: $cor-header;
			height: 400px;
			padding-bottom: 30px;

			.info{
				margin: 0px $side-blank 0px $side-blank;
				background-color: $cor-header;
				height: 320px;
				border-bottom: 1px solid $cor-bordas;
				padding-bottom: 30px;

				.title{
					padding-top: 40px;
					font-weight: $font-regular;
					font-size: 20px;
				}

				div.primary-info,
				div.minor-info{
				}

				div.primary-info{
					width: 70%;
					float: left;

					div.footer-list{
						float: left;
						width: 50%;

						div.list-group{
							width: 100%;
							height: 170px;
							div.list-title{
								padding: 20px 0px;
								font-weight: $font-bold;
								font-size: 16px;
							}

							div.list{
								float: left;
								width: 50%;
								div.list-item{
									padding-bottom: 5px;
									font-weight: $font-regular;
									font-size: 13px;
								}

								div.list-item:last-child{
									padding-bottom: 0px;
								}
							}
						}

						div.list-footer{
							width: 100%;
							padding-top: 40px;
							float: left;
							font-weight: $font-bold;
							font-size: 13px;
						}
					}
				}

				div.minor-info{
					float: left;
					width: 30%;

					div.title{
						padding-bottom: 30px;
					}

					div.list-img{
						float: left;
						width: 50%;
						div.item-img{
							padding-bottom: 20px;
							padding-left: 20px;
						}
						div.item-img:last-child{
							padding-bottom: 0px;
						}
					}
				}
			}

			div.contacts{
				padding: 30px $side-blank 0px $side-blank;
				height: 20px;
				font-weight: $font-semibold;
				font-size: 13px;

				div.menu-item{
					display: inline;
					padding: 0px 15px;
					height: 15px;
					border-right: $cor-bordas 1px solid;
				}

				div.menu-item:first-child{
					border-left: 0px;
					padding-left: 0px;
					margin-left: 0px;
				}

				div.menu-item:last-child{
					border-right: 0px;
					padding-right: 0px;
					margin-right: 0px;
				}

				div.left-contacts{
					float: left;
					padding-left: 0px;
					margin-left: 0px;
				}

				div.right-contacts{
					float: right;
					padding-right: 0px;
					margin-right: 0px;
				}
			}
		}

		div.minor-footer{
			background: $cor-bordas;
			padding-bottom: 80px;
			padding-top: 0px;
			text-align: center;

			div.copyright{
				margin: 0px $side-blank 0px $side-blank;
				padding-top: 30px;
				div{
					font-weight: $font-semibold;
					font-size: 13px;
				}
			}
		}
	}	
}