.page{
	.header{ 
		padding-top: 10px 0px 10px 0px;

		.logo{
			box-shadow: 0px 0px 10px 0px #000000;
			opacity: 20%;
		}

		.main-menu,
		.btn{
			font-size: 16px;
		}

		.main-menu{
			font-weight: $font-semibold;
		}

		.btn{
			display: flex;
			font-weight: $font-bold;
		}
		
		.breadcrumb{
			padding-top: 16px 0px 16px 0px;
			font-weight: $font-regular;
			font-size: 12px;
		}
	}
}