.page{
	.header{
		height: 111px;
		div.logo{
			background: white;
			width: 120px;
			height: 110px;			
			float: left;
			box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
			text-align: center;
			img{
				width: 100px;
				height: 100px;
				margin: 10px;
			}
		}

		div.menu-header{
			border: $cor-bordas 1px solid;
			background: $cor-header;
			padding: 0px 200px;
			height: 50px;
			ul.main-menu{
				font-weight: $font-semibold;
				float: left;

				li.menu-item{
					display: inline;
					padding: 0px 15px;
					height: 15px;
					border-right: $cor-bordas 1px solid;
				}

				li.menu-item:last-child{
					border-right: 0px;
				}
			}

			button.btn{
				float: right;
				font-weight: $font-bold;
				color: white;
				background-color: $orange;
				margin: 10px 0px;
				padding: 5px 30px;
				border-radius: 5px;
				border-width: 0px;
				use{
					fill:white;
				}
			}

			ul.main-menu,
			.btn{
				font-size: 16px;
			}
		}
		
		ul.breadcrumb{
			padding-top: 10px;
			font-weight: $font-regular;
			font-size: 12px;

			li.breadcrumb-item:first-child{
				margin-left: 15px;
			}

			li.breadcrumb-item{
				padding: 5px 0px;
				display: inline;
			}

			li.breadcrumb-item::after{
				content: ' >';
			}

			li.breadcrumb-item:last-child::after{
				content: '';
			}
		}
	}
}