.content{
	div.inside{
		height: 500px;
		float: left;
		width: 75%;
		padding-left: 11px;

		div.inside-part{
			float: left;

			div.inside-title{
				font-size: 20px;
				font-weight: $font-light;
				margin-bottom: 20px;
				border-bottom: 1px solid $cor-bordas;
				width: 100%;
				color: $pink;
				padding-bottom: 15px;
			}

			div.inside-content,
			div.legend{
				font-size: 16px;
			}

			div.inside-content{
				font-weight: $font-regular;
			}

			div.main-img{
				background-image: url('../img/food-700x200.jpg');
				height: 200px;
				margin: 40px 0px;

				div.box-legend{
					bottom: 0;
					padding-top: 21%;

					div.text-legend{
						background-color: rgba(0, 0, 0, 0.5);
						font-weight: $font-semibold;
						padding: 16px 0px;
						text-align: center;
						color: white;
					}
				}
			}

			div.box{
				margin: 2%;
				width: 30%;
				height: 10em;
				border: $orange 1px solid;
				float: left;
				text-align: center;

				div.box-icon{
					text-align: center;
					padding: 15px 0px;
					img{
						max-height: 55px;
						height: 100%;
						width: 100%;
					}
				}

				div.box-text{
					padding: 0px 25px;
					max-height: 26px;
					word-wrap: break-word;
					font-size: 14px;
				}
			}

			div.box:first-child{
				margin-left: 0px;
			}

			div.box:last-child{
				margin-right: 0px;
			}
		}

		.main-content{
			width: 65%;
		}

		.minor-content{
			width: 30%;
			padding-left: 25px;

			img{
				border-radius: 10px;
				width: 100%;
			}
		}

		.main-img{
			width: 99%;
		}
	}
}