.content{
	.side-menu{
		border: 1px solid $cor-bordas;
		float: left;
		width: 23%;

		div.title{
			margin: 0px 10px;
			padding: 10px 0px;
			font-weight: $font-regular;
			font-size: 16px;
			color: $orange!important;
			border-bottom: 1px solid $cor-bordas;
		}

		div.item-list{
			ul{
				padding-left: 15px;
				padding-bottom: 15px;
				margin: 0px;
				li{
					list-style-type: none;
				}
				li.item-title{
					padding-top: 20px;
					font-weight: $font-bold;
					color: $blue;
				}

				li.item{
					padding-top: 6px;
					font-weight: $font-regular;
				}

				li.item-title,
				li.item{
					font-size: 14px;
				}
			}
		}
	}
}