//Fonts size
$font-light: 		300;
$font-regular: 		normal;
$font-semibold:		600;
$font-bold: 		bold;
$font-extrabold: 	800;

//Colors
$cor-textos:		#898989;
$cor-bordas:		#c9c9c9;
$cor-header:		#eeeeee;
$orange:			#f7941e;
$pink:				#ec007a;
$blue:				#20b7ce;